@model Propietaria.Models.UserStatus

@{
    ViewBag.Title = "Details";
}

<h2>Ver</h2>

<div>
    <h4>Estado de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUserStatus }) |
    @Html.ActionLink("Ir atras", "Index")
</p>
