
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <h1>Iniciar Sesión</h1>
<div class="row">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Login/Login")" method="post">
        <div class="form-group">
            <label>Correo Electronico</label>
            <input class="form-control" type="email" name="email" />
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" type="password" name="password" />
        </div>

        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
</div>

