@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Portal de Quejas y Reclamaciones.</p>
        <img src="~/Assets/welcome1.svg" height="500" width="500" />
</div>
